{% extends "release_latency/base.html" %}

{% block html_content %}
<!-- Table HTML -->
<table class="table table-striped table-bordered table-hover" id="table1">
  <thead>
    <tr>
      <th>Python Implementation</th>
      <th>Version</th>
      <th>Release Date</th>
      <th>Release Kind</th>
    </tr>
  </thead>
</table>

<!-- Blank Slate HTML -->
<div class="blank-slate-pf table-view-pf-empty hidden" id="emptyState1">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    No Python versions registered
  </h1>
  <p>
    This should never happen, since the versions and release dates are harcoded :)
  </p>
</div>
{% endblock html_content %}

{% block page_js %}
<script>
    $(document).ready(function () {

        // JSON data for Table View
        var dataSet = [
            {
                implementation: "CPython",
                version: "3.6.0",
                release_date: "2016-12-23",
                kind: "full"
            },
            {
                implementation: "CPython",
                version: "3.6.2",
                release_date: "2017-07-17",
                kind: "full"
            },
            {
                implementation: "PyPy",
                version: "5.8",
                release_date: "2017-06-09",
                kind: "full"
            },
            {
                implementation: "PyPy3",
                version: "5.8",
                release_date: "2017-06-09",
                kind: "full"
            }
        ];

        // DataTable Config
        $("#table1").DataTable({
            columns: [
                { data: "implementation" },
                { data: "version" },
                { data: "release_date" },
                { data: "kind" }
            ],
            data: dataSet,
            dom: "t",
            language: {
                zeroRecords: "No records found"
            },
            order: [[1, 'asc']],
        });

    });

</script>
{% endblock page_js %}
